*
{
	padding: 0;
	margin: 0;
	
}



.menu-bar
{
	  text-align: center;
	  background: #fc3841;
}

.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: white;
}

.menu-bar ul li
{
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.menu-bar ul li a
{
	text-decoration: none;
	color: white;
	font-family: helvetica;
	
}

.active, .menu-bar ul li:hover
{
	 background : #eb838c;
	 border-radius: 3px;
	 text-decoration: underline;
}