#Image
{
	float: right; 
	height:1000px; 
	width: 462px
}

#maintext

{
	border-style: solid;
	border-width: 3px;
	border-color: white;
	padding: 5px;
	
	width: 200px;
	height: 750x;
	
	position: absolute; 
	left: 10%;
	top: 50%;
	transform: translate(-50%, -50%)
}