#Image
{
	float: right; 
	height:1500px; 
	width: 693px;
}

#maintext

{
	border-style: none;
	border-color: none;
	border-width: 0px;
	
	
	width: 700px;
	height: 250x;
	
	position: absolute; 
	left: 30%;
	top: 75%;
	transform: translate(-60%, -50%)
}

.square
{
	height: 50px;
	width: 50px;
	background-color: #fc3841;
	
	float: left;
	

}


.header

{
	border-style: solid;
	border-color: #0f0f38;
	border-width: 1px;
	
	
	width: 600px;

}